{
  "presets": [["env", { "modules": false }]],
  "plugins": [
    "transform-object-rest-spread",
    "external-helpers",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["transform-runtime", "transform-class-properties", "transform-es2015-modules-commonjs"]
    }
  }
}
